{{# if flights}}
         
        <div class="flightdetailsContainer" style="width: 80%;margin-left: 200px;">
            <div>
                <h2 style="padding-left: 360px;">Flight Details</h2>
                <hr>
            </div>
            <table>
                <tr>
                    <th>
                        
                    </th>
                    <th>    </th>
                    <th >
                        <label style="font-size: 20px; padding-left: 30px;">Flight Airline</label>
                    </th>
                    <th>     </th>
                    <th >
                        <label style="font-size: 20px; padding-left: 30px;">Orgin City</label>
                    </th>
                    <th>    </th>
                    <th>
                        <label style="font-size: 20px;  padding-left: 30px">Destination City</label>
                    </th>
                    <th>    </th>
                    <th>
                        <label style="font-size: 20px;  padding-left: 30px">Flight Duration</label>
                    </th>
                    <th>
                        <label style="font-size: 20px;  padding-left: 30px">Flight Type</label>
                    </th>
                    <th>
                        <label style="font-size: 20px;  padding-left: 30px">Flight Price</label>
                    </th>
                    <th>
                         <label style="font-size: 20px;  padding-left: 30px">Flight Date</label>
                    </th>
                    <th>
                         <label style="font-size: 20px;  padding-left: 30px">Flight Type</label>
                    </th>
                </tr>
                {{# each flights}}
           <form action="/flightReview?flightId={{this.id}}" method="post">
                <tr style="border: 1px solid teal;">
                    <th>
                        <input type="hidden" id={{this.id}}> 
                    </th>
                    <th></th>
                    <th >
                        <label for="{{this.id}}" style="padding-left: 30px;">{{this.flightAirlineName}}</label>
                    </th>
                    <th>    </th>
                    <th >
                        <label for="{{this.id}}" style="padding-left: 30px;">{{this.origin}}</label>
                    </th>
                    <th>    </th>
                    <th>
                        <label for="{{this.id}}" style="padding-left: 30px;">{{this.destination}}</label>
                    </th>
                    <th></th>
                    <th>
                        <label for="{{this.id}}" style="padding-left: 30px;">{{this.flightDuration}}</label>
                    </th>
                    <th>
                        <label for="{{this.id}}" style="padding-left: 30px;">{{this.flightType}}</label>
                    </th>
                    <th>
                        <label for="{{this.id}}" style="padding-left: 30px;">${{this.flightPrice}}</label>
                    </th>
                    <th>
                        <label for="{{this.id}}" style="padding-left: 30px;">{{this.departureDate}}</label>
                    </th>
                    <th>
                        <label for="{{this.id}}" style="padding-left: 30px;">{{this.flightT}}</label>
                    </th>
                    <th>
                        <button style="margin-left: 50px;width:100px;margin-bottom: 5px;margin-right: 10px;" >Flight Details</button>
                        <br>
                        <button style="background-color: rgb(88, 88, 196);color: white;margin-left: 50px;width:100px;margin-bottom: 5px;margin-right: 10px;" >Book Flight</button>
                    </th>
                 </tr>
                </form>
                {{/each}}
            </table>
            
            </div>

        
    {{/if}}