<body>
    <form name="passenger" action="/seatSelection"  onsubmit="return validatePassenger('{{adultCount}}')" method="post">
        <div class="flightContainer">
            <div>
                <h2 style="padding-left: 240px;">Traveller Details</h2>
                <hr>
            </div>
                {{# each flights}}
                <div>
                    <table style="border: 1px solid;">
                        <tr >
                            <th style="padding-left: 8px;">
                                <label>Departure City</label>
                            </th>
                            <th style="padding-left: 58px;"> 
                                <label>Destination City</label>
                            </th>
                            <th style="padding-left: 58px;">
                                <label>Flight Duration</label>
                            </th>
                            <th style="padding-left: 58px;padding-right: 10px;">
                                <label>Flight Price</label>
                            </th>
                        </tr>
                        <tr>
                            <th style="padding-left: 8px;">
                                <label>{{this.origin}}</label>
                            </th>
                            <th style="padding-left: 58px;">
                                <label>{{this.destination}}</label>
                            </th>
                            <th style="padding-left: 58px;">
                                <label>{{this.flightDuration}}</label>
                            </th>
                            <th style="padding-left: 58px;padding-right: 10px;">
                                <label>${{this.flightPrice}}</label>
                            </th>
                        </tr>
                    </table>
               </div>
               {{/each}}
               
            <hr>
                    <div id="adultAdd">
                       
                    </div>
                   <div>
                       <a onclick="addAdult('{{flightType}}','{{adultCount}}')">Add Adult</a>
                   </div>
            <hr>
                   <div>
                       <div>
                           <h3>Contact Information</h3>
                       </div>
                       <hr>
                       <div>
                           <label>Mobile Number</label>
                           <label style="padding-left: 150px;">Email</label>
                           <br></br>
                           <input type="text" id="mobileNumber" style="width:180px;height:32px;" placeholder="Mobile Number">
                           <input type="text" id="emailId" style="width:180px;height:32px;margin-left: 70px;" placeholder="Email">
                       </div>
                       <hr>
                   </div>
                <hr>
                <div>
                    <h2 style="font:bold;color:black;">Acknowledgement</h2>
                    
                </div>
                <div>
                    <input type="radio" id="Acknowledgement" >
                    <label>By clicking on the Continue button below to proceed with the booking, I confirm that I have read and I accept the Fare Rules , the Privacy Policy , the User Agreement and Terms of Service of FlyDreamAir</label>
                </div>
                <div>
                    <button    style="background-color: rgb(88, 88, 196); width: 150px;color: white;font-size: 14px;font-family: 'Times New Roman', Times, serif;width:180px;margin-left: 250px;margin-bottom: 10px;margin-top: 15px;">Proceed to seat selection</button>
                </div>
        </div>
    </form>
</body>