<form action='/logout?email={{email}}&tokens={{tokens}}&token={{token}}' method="post">
    <div style="margin-left: 500px;">
        <a href='/userProfile?email={{email}}&token={{token}}' class="link">Manage Profile</a>
        <a href='/myTrips?email={{email}}' class="link">My Trips</a>
        <a href='/flightBooking' class="link">Flight Booking</a>
        <a href='/services' class="link">Services</a>
        <a href='/feedback' class="link">Feedback</a>
        <a href='/offers' class="link">Offers</a>
        <a href='' class="link">Trip Ideas</a>
        <button style="margin-left: 100px;">Logout</button>
    </div>
    <div style="margin-bottom: 270px;">

    </div>
</form>
</div>